body {
    background-color: #17485f;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

#botaoCarregar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 10px 0;
    width: 40%;
    height: 50px;
    border: none;
    outline: none;
    color: #000000;
    background: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

#botaoCarregar button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

#botaoCarregar button:active {
    color: #ffffff;
}

#botaoCarregar button:active:after {
    background: transparent;
}

#botaoCarregar button:hover:before {
    opacity: 1;
}

#botaoCarregar button:hover {
    background-color: #222; 
}

#botaoCarregar button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

#outroBotaoCarregar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 10px 0;
    width: 40%;
    height: 50px;
    border: none;
    outline: none;
    color: #000000;
    background: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

#outroBotaoCarregar button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

#outroBotaoCarregar button:active {
    color: #ffffff;
}

#outroBotaoCarregar button:active:after {
    background: transparent;
}

#outroBotaoCarregar button:hover:before {
    opacity: 1;
}

#outroBotaoCarregar button:hover {
    background-color: #222; 
}

#outroBotaoCarregar button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}


#cervejasDiv {
    flex: 1;
    width: 40%;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #17485f;
    color: #fff;
    margin-top: 20px;
}

#cervejasDiv table {
    border-collapse: collapse;
    width: 100%;
}

#cervejasDiv th, #cervejasDiv td {
    padding: 12px;
    text-align: center;
}

#cervejasDiv th {
    background-color: #1c4b63;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #1a445d;
}

#cervejasDiv tr:nth-child(even) {
    background-color: #1a445d;
}

#cervejasDiv tr:hover {
    background-color: #1c4b63;
    transition: background-color 0.3s;
    cursor: pointer;
}

#cervejasDiv tr:hover td {
    color: #fff;
}

#cervejasDiv td {
    border-bottom: 1px solid #1a445d;
}
