.cabecalho {
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  padding: 10px;
  font-size: xx-large;
  margin-right: 50px;
  margin-top: 70px;
}

.cabecalho a:not(:last-child) {
    margin-right: 25px;
}