* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}


#cervejasDiv {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.container {
	height: 30%;
	display: flex;
	align-items: center;
    justify-content: center;
}

#botaoCarregar {
	font-family: Helvetica;
	letter-spacing: 0.4em;
	font-weight: 500;
	font-size: 70px;
	text-align: center;
	color: #202125;
    cursor: pointer;
    max-width: 600px; 
    width: 100%; 
    outline: 3px solid;
    outline-color: rgba(71, 126, 232,0.5);
    outline-offset: 70px;
    transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

#botaoCarregar:hover {
	color: rgba(71, 126, 232, 0.7);
    outline-color: rgba(71, 126, 232, 0);
    outline-offset: 300px;
}